body {
  /* padding: 0; */
  margin: 0;
  position: relative
}


#main-container {
  width: 100%;
  height: 40vh;
  /* position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  position: absolute;
  top: 15vh;
  /* border: 3px solid red; */
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#nav-bar {
  position: fixed;
  width: 100vw;
  height: 7vh;
  background-color: blueviolet;
  z-index: -1;
}

.to-do-container {
  width: 40rem;
  height: 40rem;
  /* border: 1px solid green; */
}



.to-do-heading {
  margin-top: 1rem;
  display: inline-block;
  outline: 0;
  appearance: none;
  padding: 0px 12px;
  border: 0px solid transparent;
  border-radius: 4px;
  text-decoration: none;

  /* cursor: pointer; */
  background-color: rgb(9, 128, 76);
  box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 400;
  height: 36px;
  transition: all 150ms ease-in-out 0s;
  width:80%;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: translate(10%,0);
}

.items-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.item {
  margin: 0 10px;
  font-size: 2rem;
}

.completed {
  text-decoration: line-through;
}

.new-item-form {
  width: 40rem;
  height: 40rem;
  /* border: 1px solid blue; */
  display:flex;
  flex-direction: column;
  align-items: center;
}

.new-item-form button{
  margin-top: 1rem;
  display: inline-block;
  outline: 0;
  appearance: none;
  padding: 0px 12px;
  border: 0px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(9, 128, 76);
  box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  transition: all 150ms ease-in-out 0s;
  

}

.new-item-form button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(17, 97, 73);
  box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px, rgb(195 231 202) 0px 0px 0px 3px;
}

.new-item-form input{
  
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  width: 80%;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: all .2s ease;
}

.new-item-form input:hover{
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}

.new-item-form input:focus{
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}

.redButton{
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  color: #fff;

}

.new-item-form label {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

.check {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 2px;
  appearance: none;
  background-color: #bbb;
  transition: all .3s;
  margin-right: 1rem;
 }
 
 .check::before {
  content: '';
  position: absolute;
  border: solid #fff;
  display: block;
  width: .3em;
  height: .6em;
  border-width: 0 .2em .2em 0;
  z-index: 1;
  opacity: 0;
  right: calc(50% - .3em);
  top: calc(50% - .6em);
  transform: rotate(0deg);
  transition: all .3s;
  transform-origin: center center;
 }
 
 .check:checked {
  animation: a .3s ease-in forwards;
  background-color: rgb(17, 97, 73);
 }
 
 .check:checked::before {
  opacity: 1;
  transform: rotate(405deg);
 }
 
 @keyframes a {
  0% {
   opacity: 1;
   transform: scale(1) rotateY(0deg);
  }
 
  50% {
   opacity: 0;
   transform: scale(.8) rotateY(180deg);
  }
 
  100% {
   opacity: 1;
   transform: scale(1) rotateY(360deg);
  }
 }

 .ListItem{
  display: inline-block;
  vertical-align: middle;
  /* align-items: center; */
 }

#task-name{
  position: relative;
  top:-12px;
  margin-right: 3rem;
  font-size: 1.4rem;
}

body {
  font-family: 'Nunito', sans-serif;
}

